.container {
  height: 50px;
  background-color: #fe7000;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.nav-list {
  display: flex;
  justify-content: center;
  gap: 50px;

  list-style: none;
}

.nav-link {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
}

.nav-link-selected {
  font-weight: 600;
  text-decoration-line: underline;
}
