<div class="page">
  <div class="extra-content">
    <h1 class="title">Giross</h1>
    <h2 class="sub-title">challenge app</h2>
  </div>
  <div class="login">
    <h3 class="login-title">Login</h3>

    <div *ngIf="errorMessage != null" class="error-message">
      {{ errorMessage }}
    </div>

    <div class="input-container">
      <input
        type="text"
        [(ngModel)]="email"
        placeholder="Email"
        class="input"
      />
      <input
        type="password"
        [(ngModel)]="password"
        placeholder="Senha"
        class="input"
      />
    </div>
    <button class="submit-button" (click)="handleLogin()">Entrar</button>

    <div class="horizontal-line"></div>

    <div class="additional-link-wrapper">
      <a routerLink="/sign-up" class="additional-link">Criar nova conta</a>
    </div>
  </div>
</div>
