
.page {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100vh;
  padding: 0 117px;
}

.company-name {
  color: #fe7000;
  font-family: "Inter", sans-serif;
  font-size: 105px;
  font-weight: 400;
  line-height: 80px;

  margin-bottom: 28px;
}

.app-name {
  color: #fe7000;
  font-family: "Inter", sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 40px;

  padding-left: 179px;
}

.form-container {
  width: 344px;
  min-height: 468px;
  padding: 40px 19px;

  border-radius: 5px;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.93);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.form-title {
  color: #fe7000;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-weight: 400;

  margin-bottom: 33px;
}

.input-container {
  width: auto;

  display: flex;
  flex-direction: column;
  gap: 21px;

  margin: 33px 0;
}

.auth-input {
  width: 306px;
  height: 55px;
}

.auth-button {
  width: 306px;
  height: 55px;
}

.horizontal-line {
  width: 306px;
  height: 1px;

  background: rgba(254, 112, 0, 0.8);

  margin-top: 47px;
  margin-bottom: 40px;
}

.additional-link-wrapper {
  display: flex;
  justify-content: center;
}

.additional-link {
  color: #fe7000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}
