<div class="page">
  <div>
    <h1 class="company-name">Giross</h1>
    <h2 class="app-name">challenge app</h2>
  </div>
  <div class="form-container">
    <h3 class="form-title">Registro</h3>

    <div *ngIf="errorMessage != null" class="error-message">
      {{ errorMessage }}
    </div>

    <div class="input-container">
      <input
        type="text"
        [(ngModel)]="email"
        placeholder="Email"
        class="g-input auth-input"
      />
      <input
        type="password"
        [(ngModel)]="password"
        placeholder="Senha"
        class="g-input auth-input"
      />
    </div>
    <button class="g-button auth-button" (click)="handleRegister()">Cadastrar</button>

    <div class="horizontal-line"></div>

    <div class="additional-link-wrapper">
      <a routerLink="/login" class="additional-link">Já possuo conta</a>
    </div>
  </div>
</div>
