<div class="container">
  <div *ngIf="errorMsg != null" class="g-error-message error-message">
    {{ errorMsg }}
  </div>

  <div class="g-tips">
    Ceps cadastrados para testes: 25635420, 25635430, 25635445, 25635483,
    82315435, 82315440, 82315444, 82315486, 01003905, 01003000, 01002900,
    69092360, 69092380, 69092375, 74491760, 74491756
  </div>

  <div class="search">
    <input
      type="text"
      [(ngModel)]="cep"
      class="g-input input"
      placeholder="CEP"
    />
    <input
      type="text"
      [(ngModel)]="range"
      class="g-input input"
      placeholder="Km"
    />
    <button class="g-button button" (click)="searchCeps()">Buscar</button>
  </div>
  <div class="card-container">
    <app-card
      *ngFor="let cep of ceps"
      [textsFirstRow]="['Cep: ' + cep.numeroCEP]"
      [textsSecondRow]="[
        'Estado: ' + cep.UF,
        'Cidade: ' + cep.cidade,
        'Bairro: ' + cep.bairro
      ]"
    >
    </app-card>
  </div>
</div>
